:root {
  --color-primary: #f8f5f2;
  --color-accent: #171a20;
  --color-font: #373737;
  --color-link: #7fffd4;
  --color-blend: #a3a4a5;
  --font-heading: "Roboto", sans-serif;
  --font-body: "Montserrat", sans-serif;
  --font-h1: "Titillium Web", sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core root defaults */
html {
  line-height: 1.5;
  font-family: var(--font-body);
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  margin: 0;
}

/* Update default margin */
h1 {
  font-family: var(--font-h1);
  font-weight: 600;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 500;
  line-height: 1.3;
}

p,
li,
blockquote {
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 1.6;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
  color: var(--color-link);
}

a:hover,
a:focus-visible {
  color: var(--color-accent);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.next-project {
  display: inline-flex; /* Make the button only as wide as its content */
  align-items: center; /* Center content vertically */
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-left: auto; /* Aligns the button to the right */
}

.next-project:hover {
  background-color: #0056b3;
}

.arrow {
  margin-left: 8px;
  font-size: 1.2em;
}

/* ---------- Accessibility ---------- */

*:focus-visible {
  outline: 0.125rem solid var(--color-secondary);
  outline-offset: 0.125rem;
}

.skip-links {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.skip-links__link {
  position: absolute;
  top: -10rem;
  left: 0.5rem;
  background-color: var(--color-accent);
  color: var(--color-primary);
  padding: 0.75rem 1.5rem;
  border-radius: 0.25em;
  text-decoration: none;
  z-index: 1000000;
}

.skip-links__link:focus {
  top: 0.5rem;
  color: var(--color-primary);
}

.to-top {
  position: fixed;
  bottom: -0.5rem;
  right: 1.5rem;
  background-color: var(--color-accent);
  color: var(--color-primary);
  padding: 0.5rem 0.5rem 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  text-decoration: none;
  box-shadow: var(--shadow);
  translate: 0 100%;
  transition: translate var(--transition), bottom var(--transition);
}

.to-top.visible {
  translate: 0;
}

.to-top:hover,
.to-top:focus-visible {
  bottom: 0;
  color: #000;
  translate: 0;
}

.screen-reader-text {
  background-color: #fff;
  color: #000;
}

/* ---------- Accessibility end---------- */

/* ---------- Typography start---------- */

.navbar__link {
  font-size: 1.5rem;
}

.banner__title {
  font-size: 2.15rem;
}

.banner__text {
  font-size: 1.5rem;
}

/* ---------- Typography end---------- */

/* ---------- Containers ---------- */

body {
  background-color: var(--color-primary);
}
.container {
  width: min(65em, 100%);
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--text {
  width: min(45em, 100%);
}

.btn {
  display: inline-block;
  padding: 0.55em 1.5em 0.5em;
  background-color: var(--color-accent);
  border: 0.125em solid var(--color-accent);
  color: red;
  border-radius: 0.25em;
  text-align: center;
  margin-top: 3rem;

  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}
.btn:hover,
.btn:focus {
  background-color: var(--color-primary);
  border-color: var(--color-link);
  color: var(--color-link);
}

/* ---------- Containers end ---------- */

/* ---------- Header Nav---------- */

.header-home {
  background-color: var(--color-primary);
  position: sticky;
  top: 0;
  z-index: 100000;
  border-top: 0.25rem solid var(--color-font);
}

.header-home__logo img {
  width: 3rem;
}

.header-home__logo:hover,
.header-home__logo:focus {
  translate: 0 -0.5rem;
}

.header-home .container {
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.navbar__nav {
  position: fixed;
  top: 0;
  right: -66.6666%;
  width: 66.6666vw;
  height: 100vh;
  box-shadow: -0.125rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  background-color: var(--color-primary);
  border-top: 0.25rem solid var(--color-font);
  transition: right 0.2s;
}

.navbar__nav.open {
  right: 0;
}

.navbar__list {
  padding: 6rem 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.navbar__link {
  color: var(--color-font);
  text-decoration: none;
  display: block;
  padding: 0.75rem 1.5rem;
  text-align: right;
  position: relative;
}

.navbar__link:hover,
.navbar__link:focus-visible {
  border-bottom: 0.125rem solid var(--color-font);
}

.nav-toggle {
  width: 2.5rem;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.nav-toggle__tog {
  width: 100%;
  height: 4px;
  background-color: var(--color-font);
  position: relative;
  transition: top 0.2s, translate 0.2s, rotate 0.2s, opacity 0.2s, bottom 0.2s;
}
.nav-toggle__tog--top {
  top: 0;
}

.nav-toggle__tog--bottom {
  bottom: 0;
}

.open .nav-toggle__tog--top {
  top: 50%;
  translate: 0 -50%;
  rotate: 45deg;
}

.open .nav-toggle__tog--middle {
  opacity: 0;
}

.open .nav-toggle__tog--bottom {
  bottom: 50%;
  translate: 0 50%;
  rotate: -45deg;
}

.screen-reader-text {
  position: absolute;
  clip-path: polygon(0 0, 0.1% 0, 0.1% 0.1%, 0 0.1%);
}

/* ---------- Header Nav end ---------- */

/* ---------- footer ---------- */

.footer {
  background-color: var(--color-primary);
  color: var(--color-font);
  border-bottom: 0.5rem solid var(--color-font);
}

.footer .container {
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer__icon:hover,
.footer__icon:focus {
  translate: 0 -0.5rem;
}

.footer__icon {
  width: 10rem;
}

.footer__title {
  font-weight: bold;
  line-height: 1.3;
}

.footer__items {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.footer__nav {
  justify-content: center;
  display: flex;
}

.footer__link {
  color: var(--color-font);
  text-decoration: none;
}

.footer-list__links:hover,
.footer-list__links:focus {
  translate: 0 -0.5rem;
}

.footer-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding-left: 0;
}

.footer__copyright {
  text-align: center;
}

/* ---------- footer ends---------- */

/* ---------- Banner---------- */

.banner .container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.banner__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.banner__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.banner__title {
  line-height: 1.3;
  color: var(--color-font);
  white-space: nowrap;
  overflow: hidden;
}

.banner__text {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
}

.banner__image {
  width: 8rem;
  object-fit: cover;
}

/* ---------- Banner ends---------- */

/* ---------- Card group---------- */

.card-group {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.card-group__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  max-width: fit-content;
}

.card-group__title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  color: var(--color-font);
}

/* Card Container */
.card {
  width: 18rem;
  height: 26rem;
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

/* Card Image */
.card-image {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.card:hover .card-image {
  opacity: 0.3;
  transform: scale(1.05);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
  text-align: center;
  padding: 1rem;
  transition: opacity 0.3s ease;
}

.card:hover .card__content {
  opacity: 1;
}

.card__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card__text {
  font-size: 1rem;
  line-height: 1.4;
}

/* ---------- Card group ends---------- */

/* =================================================
Media queries  ================================================= */

@media only screen and (min-width: 45em) {
  .nav-toggle {
    display: none;
  }
  .navbar__nav {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    box-shadow: none;
    z-index: auto;
    background-color: transparent;
    border: 0;
  }
  .navbar__list {
    flex-direction: row;
    padding: 0;
  }

  .footer .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .footer__nav,
  .footer__copyright {
    flex: 0.5 1 0;
    text-align: center;
  }

  .banner .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .banner__header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .banner__image {
    margin-right: 1rem;
  }

  .banner__content {
    text-align: left;
  }

  .card-group__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    padding: 1rem;
  }

  .card__title {
    font-size: 1.4rem;
  }

  .card__text {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 60em) {
  .click-to-close {
    position: fixed;
    inset: 0;
    background-color: #000a;
    pointer-events: none;
    opacity: 0;
    transition: opacity var(--transition);
  }

  .click-to-close.open {
    pointer-events: all;
    opacity: 1;
  }

  .card-group__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .card__title {
    font-size: 1.563rem;
  }
  .card__text {
    font-size: 1.2rem;
  }
}

/* =================================================
Media queries end ================================================= */
